<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"></head>
<body>
    <div class="empty">
        <div class="empty-icon">
            <i class="icon icon-cross"></i>
        </div>
        <p class="empty-title h5">Sad to see that you have cancelled your order.</p>
        <p class="empty-subtitle">We are here for you anytime.</p>
        <div class="empty-action">
            <a href="/articles" class="btn btn-error">Take me back.</a>
        </div>
    </div>
</body>
</html>