<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header"></head>
<body>
    <div class="empty">
        <div class="empty-icon">
            <i class="icon icon-emoji"></i>
        </div>
        <p class="empty-title h5">Thank you for your order! Your order number is: <span th:text="${transactionId}">transactionId</span></p>
        <p class="empty-subtitle">We hope to see you again soon.</p>
        <div class="empty-action">
            <a href="/articles" class="btn btn-success">Take me back.</a>
        </div>
    </div>
</body>
</html>